<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.controller"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
	
	<!-- 拦截器 -->
<!-- 	<mvc:interceptors>
		第一种配置方式
		<bean class="com.interceptor.DemoIntercepter"></bean>
		第二种配置方式  只拦截特定方式的拦截器
		<mvc:interceptor>
			<mvc:mapping path="/demo"/>
			<mvc:mapping path="/demo1"/>
			<bean class="com.interceptor.DemoIntercepter"></bean>
		</mvc:interceptor>
	</mvc:interceptors> -->

	<!--拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/resources/**" />
			<mvc:exclude-mapping path="/main/**" />
			<bean class="com.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>